.dropdown {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    /* width: 200px; */
    border-radius: 4px;
    border: 1px solid #bbb;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
}

.dropdown:active, .dropdown:focus {
    border: 1px solid #019160;
}

.dropdown-value {
    display: block;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
}

.dropdown-value i {
    position: relative;
    top: 2px;
}

.dropdown-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    background-color: #fff;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    display: none;
}

.dropdown-item {
    padding-left: 36px;
    cursor: pointer;
}

.dropdown-item.active {
    background-color: #019160;
    color: #fff;
    background-image: url(../../assets/icon/tick.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.dropdown-item:hover {
    background-color: #e1e1e1;
    color: #000;
}

.icon-up {
    display: none;
}

#dropdown-input:checked~.dropdown-list {
    display: block;
}

#dropdown-input:checked~.dropdown-value .icon-down {
    display: none;
}

#dropdown-input:checked~.dropdown-value .icon-up {
    display: block;
}



.icon-down, .dropdown-list {
    display: block;
    z-index: 103;
}

.icon-down.show, .dropdown-list.show {
    display: block;
}

.dropdown-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-down.move-up {
    transform: rotate(180deg);
    transition: all 0.1ms;
    z-index: 101;
}

.dropdown-list.show {
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0px 1px 8px 0px #ccc;
}

.hide {
    display: none;
}

.dropdown-list {
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 11px 1px #00000061;
}