.content-table{
    position: absolute;
    left: 24px;
    right: 16px;
    bottom: 56px;
    margin-top: 16px;
    overflow-x: auto;
}

table.table {
    border-collapse: collapse;
    background-color: #fff;  
    position: absolute;
}

table.table thead{
    height: 48px;
}
  
table.table tbody tr {
    height: 48px;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
}

table.table tbody tr:hover {
    background-color: #bbb;
}

table.table tbody tr.row-selected {
    background-color: #e9EBEE;
}

table th, td {
    padding-right: 8px;
    padding-left: 8px;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

table.table tbody tr td:first-child {
    padding-left: 8px;
    padding-right: 10px;
}

.table.table-striped  {
    height: 100%;
    align-items: center;
    position: absolute;
}

th {
    background-color: #fff;
    top: 0;
    position: sticky;
}

thead tbody tr {
    width: 100%;
    table-layout: fixed; 
    word-break: break-all;
}

.table tbody {
    /* display: block;  */
    height: calc(100% - 48px);
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: -webkit-sticky;
    top: 48px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table.table tbody tr.checked{
    background-color: #2FBE8E;
}
.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    background-color: #fff;
}

.checkbox.checked {
    background-color: #019160;
    background-position: center;
    background-repeat: no-repeat;
}





