.employee-id{
    max-width: 130px;
}

.employee-name{
    max-width: 200px;
}

.employee-sex{
    max-width: 100px;
}

.employee-dob{
    max-width: 95px;
}

.employee-email{
    /* max-width: 200px; */
    width: 100px;
}

.employee-position{
    max-width: 100px;
}

.employee-room{
    max-width: 150px;
}

.employee-salary{
    max-width: 170px;
}

.employee-workstatus{
    max-width: 200px;
}