@import url('../base/button.css');
@import url('../base/text-box.css');
@import url('../base/icon.css');
@import url('../base/combobox.css');
@import url('../base/table.css');
@import url('../base/paging-bar.css');
@import url('../base/dropdown.css');
@import url('../base/dropdown_new.css');
body {
    font-family: GoogleSans-Regular;
    font-size: 13px;
    margin: 0;
}

@font-face {
    font-family: GoogleSans-Regular;
    src: url('../../content/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: GoogleSans-Bold;
    src: url('../../content/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: GoogleSans-Italic;
    src: url('../../content/font/GoogleSans-Italic.otf');
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}