@import url(../css/base/button.css);
@import url(../css/base/text-box.css);
@import url(../css/base/icon.css);
@import url(../css/base/table.css);
@import url(../css/base/dropdown.css);
@import url(../css/base/input.css);
@import url(../css/base/tag_a.css);
@import url(../css/base/popup.css);
@import url(../css/base/toast-message.css);
body {
    font-family: GoogleSans;
    font-size: 13px;
    margin: 0;
    /* overflow: hidden; */
}

@font-face {
    font-family: GoogleSans;
    src: url(../assets/font/GoogleSans-Regular.otf);
}

@font-face {
    font-family: GoogleSans-Bold;
    src: url(../assets/font/GoogleSans-Bold.otf);
}

@font-face {
    font-family: GoogleSans-Italic;
    src: url(../assets/font/GoogleSans-Italic.otf);
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}