.content {
    padding-left: 24px;
    position: absolute;
    top: 49px;
    left: 225px;
    height: calc(100% - 49px);
    z-index: -10;
    width: calc(100% - 225px);
    background-color: #e5e5e5;
    padding-right: 16px;
    transition: all 0.5s;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.content-table table.table.table-striped {
    font-family: 'GoogleSans';
    font-size: 13px;
}

.content .content-table {
    margin-top: 16px;
    width: 100%;
    background-color: #fff;
}

.content .content-title {
    padding-top: 24px;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.content-title-text {
    font-size: 20px;
    font-weight: bold;
}

.content .content-title .button-new {
    position: absolute;
    right: 16px;
}

.content .content-title .button-new .button-icon {
    background-image: url(../../content/icon/add.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-size: contain;
    float: left;
    margin-top: 10px;
}

.content .content-title .button-new .button-value {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 8px;
}

.content .filter {
    display: flex;
    align-items: center;
}

button.btn.btn-default.dropdown-toggle {
    height: 40px;
    margin-right: 24px;
}

.content .filter .refresh {
    background-image: url(../../content/icon/refresh.png);
    display: inline-block;
}

.title-text button.btn.btn-default.dropdown-toggle {
    border: none;
}

.title-text button.btn.btn-default.dropdown-toggle:active, .title-text button.btn.btn-default.dropdown-toggle:active:focus, .title-text button.btn.btn-default.dropdown-toggle:active:hover {
    border: none;
}

.content-table {
    height: calc(100% - 73px - 42px - 16px - 56px);
}

.ratio {
    position: absolute;
    display: inline-flex;
    height: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    width: calc(100% - 24px);
}

.count-page {
    right: 16px;
    position: absolute;
    text-align: right;
    float: left;
    /* width: 15%; */
    background-color: #fff;
    padding: 8px;
}

.total-text {
    float: left;
    width: 25%;
}

.list-ratio {
    float: left;
    text-align: center;
    width: 60%;
    display: flex;
    padding-left: 20%;
}


.filter-search {
    position: relative;
}

.zoom-out-menu {
    position: absolute;
    right: 0;
    top: 50%;
    color: #fff;
    width: 20px;
    border-radius: 2px;
    height: 20px;
    background-color: #bbbbbb;
    text-align: center;
    line-height: 20px;
}
.menu-shrink{
    width: 52px;
    transition: all 0.5s;
}
.content-expand{
    width: calc(100% - 52px);
    left: 52px;
    transition: all 0.5s;
}

.menu-item-text .menu-hide{
    display: none;
}

.zoom-out-menu i{
    line-height: 20px;
}



.footer {
    position: absolute;
    bottom: 0px;
    height: 56px;
    width: 100%;
    font-family: GoogleSans;
    font-size: 13px;
    display: flex;
    display: inline-block;
}

.content .footer .footer-left {
    height: 30px;
    left: 0px;
    position: absolute;
    top: 16px;
}

.content .footer .footer-right {
    right: 40px;
    position: absolute;
    height: 30px;
    top: 16px;
}

.pagination {
    text-align: center;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.footer-middle {
    height: 40px;
    border: none;
    display: inline-block;
    /* top: 0px; */
}

.footer-middle a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 4px;
    /* border: 1px solid #BBBBBB; */
}
.page-number{
    border: 1px solid #BBBBBB;
    /* top: 10px; */
}

.footer-middle a.active {
    background-color: #019160;
    color: white;
}

.content .footer .pagination .footer-middle a:hover:not(.active) {
    background-color: #ffffff;
}

.pagination-lastpage {
    height: 20px;
    width: 20px;
    background-image: url('../../content/icon/btn-lastpage.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 12px;
}

.pagination-firstpage {
    height: 20px;
    width: 20px;
    background-image: url('../../content/icon/btn-firstpage.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 12px;
}

.pagination-prevpage {
    height: 20px;
    width: 20px;
    background-image: url('../../content/icon/btn-prev-page.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 12px;
}

.pagination-nextpage {
    height: 20px;
    width: 20px;
    background-image: url('../../content/icon/btn-next-page.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 12px;
}

