.header {
    height: 48px;
    width: 100%;
    display: flex;
    /* position: fixed; */
    z-index: 999;
}

.header .header-left {
    height: 49px;
    position: fixed;
    width: 225px;
    border-right: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    float: left;
    z-index: 0;
}

.header .header-left .toggle {
    width: 24px;
    height: 24px;
    margin: 12px 10px 12px 16px;
    background-image: url(../../content/img/toggle.png);
    background-size: contain;
    /*cover*/
    background-repeat: no-repeat;
    background-position: center;
}

.header .header-left .logo {
    height: 24px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-image: url(../../content/img/cukcuk-logo.png);
}

.header .header-right {
    width: calc(100% - 225px);
    border-bottom: 1px solid #e5e5e5;
    margin-left: 226px;
    height: 50px;
    padding-left: 16px;
    line-height: 44px;
    /* z-index: 100; */
    align-items: center;
    position: fixed;
    background-color: #fff;
    /* display: flex; */
}

.header-right .header-title {
    float: left;
    font-weight: bold;
}

.header-right .header-title .title-text {
    float: left;
    padding-right: 10px;
}

.header-right .header-title .dot {
    font-size: 12px;
    position: absolute;
    line-height: 44px;
    align-items: center;
    box-sizing: border-box;
    top: 5px;
}

.header-right .header-title .dot svg {
    transform: rotate(270deg);
    width: 16px;
    height: 16px;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}

.header-right .header-info {
    align-items: center;
    width: auto;
    float: right;
}

.header-right .header-info .announce {
    float: left;
    padding-right: 16px;
}

.header-right .header-info .info-name {
    float: left;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
}

.header-right .header-info .avatar {
    background-image: url(../../content/icon/avatar-default.png);
    float: left;
    width: 20px;
    height: 20px;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-top: 10px;
}

.header-right .header-info .option {
    background-image: url(../../content/icon/option.png);
    float: left;
    width: 20px;
    height: 20px;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 12px;
    margin-right: 16px;
}