.form-em-detail .dialog-content {
    top: 24px;
    left: 50%;
    width: 70%;
    max-width: 700px;
    min-width: 550px;
    margin: auto;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    transform: translateX(-50%);
}

.form-em-detail .model {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #000;
    opacity: 0.4;
}

.employee-detail-title {
    font-size: 15px;
    font-weight: bold;
    padding: 24px 0px 16px 24px;
}

.em-del-content {
    padding-bottom: 8px;
    padding-right: 24px;
    display: flex;
}

.form-em-detail .em-del-content .em-avatar {
    width: 154px;
    padding-left: 24px;
    float: left;
    margin-right: 16px;
}

.form-em-detail .em-del-content .em-resume {
    float: left;
    width: calc(700px - 130px);
    box-sizing: border-box;
}

.em-resume .em-resume-common .title-re-com {
    font-size: 15px;
    padding-bottom: 16px;
}

.form-em-detail .bth-option {
    height: 100px;
    width: 100%;
    background-color: #d2d2d2;
}

.em-del-content .em-avatar .icon-avatar {
    width: 130px;
    height: 130px;
    background-image: url(../../assets/img/default-avatar.jpg);
    background-size: contain;
    border: 1px solid #e5e5e5;
    background-position: cover;
    border-radius: 50%;
    align-items: center;
}

.notify-em {
    position: relative;
    font-size: 12px;
    text-align: center;
    align-items: center;
    list-style: 44px;
}

hr {
    width: 75px;
    margin-left: 0;
    border: 2px solid #019160;
    margin-top: 8px;
    margin-bottom: 0;
}

.clearfix:after {
    clear: both;
    display: table;
    content: " ";
    padding-bottom: 8px;
}

i.far.fa-save::before {
    padding-left: 16px;
    padding-right: 8px;
}

.input-item .col input, .input-item .col .drdialog {
    width: 100%;
   
}   

.input-item .col{
    padding-left: 16px;
    padding-right: 16px;
}
.pad-left-24px{
    padding-left: 0px!important;
}
.input-item{
    padding-bottom: 16px;
}
input.input-gender-em {
    padding-right: 50px;
}

.input-item .col-salary{
    position: relative;
}

.col-salary .vnd {
    position: absolute;
    top: 33px;
    right: 26px;
}
.filter-pos {
    padding-left: 16px;
}