.modal {
    /* display: none; */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    overflow: scroll;
    position: absolute;
    overflow: hidden;
}

.modal .modal-content {
    max-height: 100vh;
    width: 700px;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    /* height: fit-content; */
}

.modal .modal-content .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
}

.modal .modal-content .btn-close:hover {
    background-color: #ccc;
}

.modal .modal-content .btn-close .btn-close-icon {
    position: absolute;
    top: 9px;
    right: 9px;
    border: none;
    color: #454545;
    height: 20px;
    width: 20px;
    /* border: 1px solid red; */
    background-image: url('../../assets/icon/x.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}


/* .modal .modal-content .btn-close .btn-close-icon {
    position: absolute;
    align-items: center;
    height: 20px;
    width: 20px;
    /* right: 16px;
    top: 16px; */


/* border: 1px solid red;
text-align: center;
} */

*/ .modal .modal-content .btn-close:focus {
    background-color: red;
}

.modal .modal-content .form {
    padding: 24px 24px 0;
    /* overflow-y: scroll; */
}

.modal .modal-content .form .form-title {
    text-transform: uppercase;
    font-size: 24px;
    color: #454545;
    font-weight: bold;
}

.modal .modal-content .form .form-content {
    margin: 24px 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.modal .modal-content .form .form-content .avatar-employee .avatar {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border: 1px solid #ccc;
    border-radius: 100%;
    cursor: pointer;
    background-image: url(../../assets/img/default-avatar.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.modal .modal-content .form .form-content .avatar-employee .text {
    margin-top: 8px;
    text-align: center;
}

.modal .modal-content .form .form-content .avatar-employee img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.modal .modal-content .form .form-content .info-employee {
    grid-column: span 4 / span 4;
}

.modal .modal-content .form .form-content .info-employee .form-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-left: 16px;
    column-gap: 12px;
    row-gap: 16px;
}

.modal .modal-content .form .form-content .info-employee .infomation-title {
    grid-column: span 2 / span 2;

}

.modal .modal-content .form .form-content .info-employee .infomation-title .text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: medium;
    padding-bottom: 10px;
    position: relative;
}

.modal .modal-content .form .form-content .info-employee .infomation-title .text::before {
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    border-bottom: 4px solid #01b075;
}

.modal .modal-content .form .form-content .info-employee .form-info .text-box-default {
    display: block;
    width: 100%;
    color: #000000;
}

.required {
    color: red;
}

.modal .modal-content .form .form-content .info-employee .form-info .custom-select {
    width: 100%;
}

.modal .modal-content .form .form-content .info-employee .form-info .custom-select .icon {
    margin-left: auto;
}

.modal .modal-content .form .form-content .info-employee .form-info .title-input {
    display: block;
    margin-bottom: 4px;
    text-align: left;
}

.modal .modal-content .form .form-content .info-employee .form-info .custom-input {
    grid-column: span 2 / span 2;
}

.modal .modal-content .form .form-content .info-employee .form-info .custom-input #txtEmployeePlace {
    width: calc(50% - 6px);
}

.modal .modal-footer {
    background: #e5e5e5;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.modal .btn-close {
    background: transparent;
    font-size: 24px;
    color: #454545;
    cursor: pointer;
}

.modal .modal-footer .btn-cancel {
    background: transparent;
    margin-right: 12px;
    font-weight: bold;
    outline: none;
    border: 1px solid transparent;
    color: #000000;
}

.modal .modal-footer .btn-save {
    margin-right: 12px;
    font-weight: bold;
    outline: none;
    border: 1px solid transparent;
    align-items: center;
    display: flex;
}

.modal .modal-footer .btn-save:hover{
    cursor: pointer;
}

.modal .modal-footer .btn-cancel:hover,
.modal .modal-footer .btn-cancel:focus {
    background: #bbbbbb;
    cursor: pointer;
}

.modal .modal-content .form .form-content .info-employee .form-info .salary {
    position: relative;
}

.modal .modal-content .form .form-content .info-employee .form-info .salary #salary {
    position: absolute;
    text-align: right;
    padding-right: 60px;
}

#txtSalary{
    text-align: right;
    padding-right: 60px;
}

.modal .modal-content .form .form-content .info-employee .form-info .salary .icon {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 30;
    height: 40px;
    right: 0;
    padding-right: 16px;
    font-style: italic;
    color: #454545;
    top: 0;
}

.icon-left{
    background-image: url('../../assets/icon/save.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    /* z-index: 100000; */
}

.input .tooltiptext{
    visibility: hidden;
    width: fit-content;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    border: 1px solid #FF4747;
}

.input .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* .tooltiptext {
    visibility: visible;
    opacity: 1;
} */

#dayOfCMTND1{
    visibility: hidden;
}

#txtIdentityPlace1{
    width: calc(50% - 6px);
}

.dropdownForm{
    width: 100%;
    /* box-sizing: border-box; */
}

.m-dialog-hidden{
    display: none;
}

.identityCode{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#txtDateOfBirth{
    width: 100%!important;
}

#txtIdentityDate{
    width: 100%!important;
}

#txtJoinDate{
    width: 100%!important;
}