.dropdown {
    /* width: 200px; */
    min-width: 200px;
    position: relative;
}

.select-item {
    height: 40px;
    width: 200px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    align-items: center;
    padding-left: 16px;
    text-align: left;
    position: absolute;
    display: flex;
    cursor: pointer;
    background-color: #ffffff;
}

.select-item:hover {
    border-color: #019160;
    background-color: #ffffff;
}

.dropdown .select-item .clearchoice{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    background-image: url('../../content/icon/x.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.dropdown .select-item .clearchoice:hover{
    background-color: #E9EBEE;
}

.select-item .select-item-icon {
    position: absolute;
    height: 16px;
    width: 16px;
    right: 12px;
    margin-left: 12px;
    background-image: url('../../content/icon/btn-next-page.svg');
    transform: rotate(90deg);
    background-size: contain;
    background-repeat: no-repeat;
}

.dropdown .dropdown-option {
    position: absolute;
    width: 100%;
    top: 42px;
    border-radius: 4px;
    border-top: none;
    z-index: 50;
}

.dropdown .dropdown-option .option-item {
    height: 40px;
    width: 100%;
    line-height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
}

.dropdown .dropdown-option .option-item:hover {
    background-color: #ccc;
}

.dropdown .dropdown-option .option-item-icon {
    height: 16px;
    width: 16px;
    margin-left: 12px;
    margin-right: 12px;
    flex-shrink: 0;    
}

.dropdown .dropdown-option .item-selected {
    background-color: #019160;
}



.dropdown .select-item:focus+.dropdown-option {
    display: block;
}

.dropdown .dropdown-option {
    display: none;
}

.item-selected-icon{
    background-image: url('../../content/icon/checked.png');
    background-size: contain;
    background-repeat: no-repeat;
} 

.select-item .rotate-up{
    transform: rotate(-90deg);
}

.dropdown .rot-down{
    transform: rotate(90deg);
}
















/* .dropdown {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #bbb;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
 
}

.dropdown:active, .dropdown:focus {
    border: 1px solid #019160;
}

.dropdown-value {
    
    display: block;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
}

.dropdown-value i {
    position: relative;
    top: 2px;
}

.dropdown-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    background-color: #fff;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    display: none;
}

.dropdown-item {
    padding-left: 36px;
    cursor: pointer;
}

.dropdown-item.active {
    background-color: #019160;
    color: #fff;
    background-image: url(../../content/icon/tick.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.dropdown-item:hover {
    background-color: #e1e1e1;
    color: #000;
}

.icon-up {
    display: none;
}

#dropdown-input:checked~.dropdown-list {
    display: block;
}

#dropdown-input:checked~.dropdown-value .icon-down {
    display: none;
}

#dropdown-input:checked~.dropdown-value .icon-up {
    display: block;
}



.icon-down, .dropdown-list {
    display: none;
    z-index: 103;
}

.icon-down.show, .dropdown-list.show {
    display: block;
}

.dropdown-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-down.move-up {
    transform: rotate(180deg);
    transition: all 0.1ms;
    z-index: 101;
}

.dropdown-list.show {
  
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0px 1px 8px 0px #ccc;
}

.hide {
    display: none;
}

.dropdown-list {
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 11px 1px #00000061;
} */