.table-hold {
    position: absolute;
    top: 124px;
    left: 16px;
    right: 16px;
    bottom: 56px;
    overflow: scroll;
    background-color: #ffffff;
}

table.table {
    border-collapse: collapse;
    width: 100%;
}

.table-thead {
    font-family: GoogleSans-Bold;
    font-size: 13px;
    height: 48px;
    position: sticky;
    top: 0;
    background-color: #e9ebee;   
}

th{
    padding-left: 8px;
}


table.table tbody th,td {
    height: 48px;
    border-bottom: 1px solid #bbbbbb;
    padding-left: 8px;
    white-space: nowrap;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    /* background-color: #ffffff; */
}

table.table tbody tr:hover {
    background-color: #bbbbbb;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


