.text-box-default {
    height: 40px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    /* Kích thước bằng button bên cạnh */
    box-sizing: border-box;
}

.text-box-default:focus {
    border-color: #019160;
}

.textbox{
    display: flex;
    align-items: center;
}

.textbox-with-icon{
    position: absolute;
    display: flex;
    flex-shrink: 0;
      
}

.textbox .textbox-icon{
    width: 16px;
    height: 16px;
    border: 1px solid #BBBBBB;
    z-index: 1;
    margin-left: 16px;
    margin-right: 8px;   
    display: block; 
}

.textbox input{
    z-index: 0;
    padding-left: 40px;
}