/* button normal */

.button {
    height: 40px;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    background-color: #019160;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

.button:hover, .button-refresh:hover {
    background-color: #2FBE8E;
}

.button:active, .button-refresh:active {
    background-color: #01B075;
}

/* buttonc có icon */

.button-new {
    height: 40px;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 24px;
    text-align: center;
    background-color: #019160;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

.button-new:hover {
    background-color: #2FBE8E;
}

.button-new:active {
    background-color: #01B075;
}

/* button thoát */

.btn-exit {
    background-color: #fff;
    color: #e5e5e5;
    border: none;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    position: absolute;
    background-image: url(../../content/icon/x.svg);
}

.btn-exit:hover {
    background-color: #e5e5e5;
}

/* button refresh */

.button-refresh {
    background-image: url(../../content/icon/refresh.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    text-align: center;
    border: 1px solid #bbbbbb;
    /* position: absolute; */
    right: 16px;
    position: absolute;
    top: 75px;
    cursor: pointer;
}

/* button ratio */

button.ratio-item {
    color: #000;
    margin-right: 8px;
    padding-left: 8px;
    width: 28px;
    height: 28px;
    border: 1px solid #bbbbbb;
    background-color: #e9ebee;
    border-radius: 50%;
}

button.ratio-item:hover {
    background-color: #ffffff;
    border: none;
}

button.ratio-item:active {
    background-color: #019160;
}

button.ratio-item.active {
    background-color: #019160;
}

button.ratio-item svg circle:hover {
    color: #019160;
}

button.page, button.ratio-item {
    /* border: none; */
    background-color: #e5e5e5;
}

button.ratio-item svg {
    margin-left: 10px;
}

button.page {
    background-color: #e5e5e5;
    margin-right: 8px;
    border: none;
}

button.page:hover {
    background-color: #fff;
}

.button.bth-cancle {
    float: right;
    margin-left: 24px;
    background-color: #e5e5e5;
    color: #000;
}

.button.bth-save {
    margin-right: 24px;
    margin-left: 16px;
    float: right;
    padding-left: 0px;
    padding-right: 16px;
}

.button.bth-cancle:hover {
    background-color: #bbbbbb;
}

.btn-option {
    width: 100%;
    height: 60px;
    background-color: #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}

button.btn-reset {
    position: absolute;
    z-index: 100;
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    right: 16px;
    top: 12px;
    /* line-height: 40px; */
    margin-left: 10px;
    margin-right: 10px;
    /* align-items: center; */
}

button.btn-reset svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    color: #454545;
}