.modal {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    overflow: scroll;
    position: absolute;
    overflow-x: hidden;
}

.modal .modal-content {
    width: 50%;
    /* margin: 50px 100px; */
    background: #fff;
    position: absolute;
    border-radius: 4px;
    right: 8px;
    top: 8px;
    bottom: 8px;
    height: fit-content;
}

.modal .modal-content .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
}

.modal .modal-content .btn-close:hover {
    background-color: #ccc;
}

.modal .modal-content .btn-close .btn-close-icon {
    position: absolute;
    top: 9px;
    right: 9px;
    border: none;
    color: #454545;
    height: 20px;
    width: 20px;
    /* border: 1px solid red; */
    background-image: url('../../content/icon/x.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}


/* .modal .modal-content .btn-close .btn-close-icon {
    position: absolute;
    align-items: center;
    height: 20px;
    width: 20px;
    /* right: 16px;
    top: 16px; */


/* border: 1px solid red;
text-align: center;
} */

*/ .modal .modal-content .btn-close:focus {
    background-color: red;
}

.modal .modal-content .form {
    padding: 24px 24px 0;
}

.modal .modal-content .form .form-title {
    text-transform: uppercase;
    font-size: 24px;
    color: #454545;
    font-weight: bold;
}

.modal .modal-content .form .form-content {
    margin: 24px 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.modal .modal-content .form .form-content .avatar-employee .avatar {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border: 1px solid #ccc;
    border-radius: 100%;
    cursor: pointer;
}

.modal .modal-content .form .form-content .avatar-employee .text {
    margin-top: 8px;
    text-align: center;
}

.modal .modal-content .form .form-content .avatar-employee img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.modal .modal-content .form .form-content .info-employee {
    grid-column: span 4 / span 4;
}

.modal .modal-content .form .form-content .info-employee .form-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-left: 16px;
    column-gap: 12px;
    row-gap: 16px;
}

.modal .modal-content .form .form-content .info-employee .infomation-title {
    grid-column: span 2 / span 2;

}

.modal .modal-content .form .form-content .info-employee .infomation-title .text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: medium;
    padding-bottom: 10px;
    position: relative;
}

.modal .modal-content .form .form-content .info-employee .infomation-title .text::before {
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    border-bottom: 4px solid #01b075;
}

.modal .modal-content .form .form-content .info-employee .form-info .text-box-default {
    display: block;
    width: 100%;
    color: #000000;
}

.required {
    color: red;
}

.modal .modal-content .form .form-content .info-employee .form-info .custom-select {
    width: 100%;
}

.modal .modal-content .form .form-content .info-employee .form-info .custom-select .icon {
    margin-left: auto;
}

.modal .modal-content .form .form-content .info-employee .form-info .title-input {
    display: block;
    margin-bottom: 4px;
    text-align: left;
}

.modal .modal-content .form .form-content .info-employee .form-info .custom-input {
    grid-column: span 2 / span 2;
}

.modal .modal-content .form .form-content .info-employee .form-info .custom-input #txtEmployeePlace {
    width: calc(50% - 6px);
}

.modal .modal-footer {
    background: #e5e5e5;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.modal .btn-close {
    background: transparent;
    font-size: 24px;
    color: #454545;
}

.modal .modal-footer .btn-cancel {
    background: transparent;
    margin-right: 12px;
    font-weight: bold;
    outline: none;
    border: 1px solid transparent;
    color: #000000;
}

.modal .modal-footer .btn-save {
    margin-right: 12px;
    font-weight: bold;
    outline: none;
    border: 1px solid transparent;
}

.modal .modal-footer .btn-cancel:hover,
.modal .modal-footer .btn-cancel:focus {
    background: #bbbbbb;
}

.modal .modal-content .form .form-content .info-employee .form-info .salary {
    position: relative;
}

.modal .modal-content .form .form-content .info-employee .form-info .salary #salary {
    position: absolute;
    text-align: right;
    padding-right: 60px;
}

.modal .modal-content .form .form-content .info-employee .form-info .salary .icon {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 30;
    height: 40px;
    right: 0;
    padding-right: 16px;
    font-style: italic;
    color: #454545;
}

.taxCode{
    margin-top: 40px;
}

.salary-base{
    margin-top: 40px;
}

/* .icon-left{
    background-image: url('../../content/icon/save.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    z-index: 100000;
} */