.icon-16{
    width: 16px;
    height: 16px;
}

.icon-24{
    width: 24px;
    height: 24px;
}

.icon-search{
    background-image: url('../../content/icon/search.png');
}

/*Cần import vào file main.css*/

.icon{
    background-repeat: no-repeat;
    background-size: auto;
}

.icon-combobox-selected{
    
}